@use "./buscar";
@use "../base/variables" as v;
@use "../base/mixins" as m;

.footer {
  padding: 4rem 0 2rem;

  @media (min-width: 768px) {
    padding: 6rem 0 3rem;
  }

  @media (min-width: 1024px) {
    padding: 8rem 0 4rem;
  }

  &__copy {
    margin-top: 2.4rem;
    text-align: center;

    @media (min-width: 768px) {
      margin-top: 3.2rem;
    }

    @media (min-width: 1024px) {
      margin-top: 4.2rem;
    }
  }
}